@import '../../Common/Styles/Offsets'
@import '../../Common/Styles/Colors'

.AppAside
  background-color $colorPrimary

  display flex
  flex-direction column

  color $colorWhite

.Title
  padding $offset
  margin 0

.Content
  flex 1 1 0%
